* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/bannersustentavel.png");
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #20443c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logop {
  width: 60%;
  height: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
header{
  margin-bottom: 1rem;
}
header .logo {
  width: 15%;
  margin: clamp(0.3rem, 3vw, 2rem);
}
.logop p {
  font-size: clamp(1rem, 4.5vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #fff;
}
.hamburger-menu {
  display: flex;
  position: absolute;
  right: 20px;
  flex-direction: column;
}
.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 2.5px 0;
  transition: 0.4s;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: #20443c;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}
.nav-links li {
  margin: 15px 20px;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.2s linear;
}
.nav-links li a:hover {
  color: #4ca73e;
}
#hamburger-input {
  display: none;
}
#hamburger-input:checked ~ .nav-links {
  left: 0;
}
#hamburger-input:checked ~ .hamburger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(11px, -10px);
  position: fixed;
  z-index: 1001;
}
#hamburger-input:checked ~ .hamburger-menu span:nth-child(2) {
  opacity: 0;
}
#hamburger-input:checked ~ .hamburger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(11px, 12px);
  position: fixed;
  z-index: 1001;
}
.busca-container {
  width: 84%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.busca-container p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.busca-container input {
  width: 65%;
  height: 2.5rem;
  padding: 10px;
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.busca-container input::placeholder {
  color: #00000065;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: italic;
}
.busca-container .search {
  width: 30%;
  height: 2.4rem;
  margin-top: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 5px;
  border-radius: 9px;
  background-color: #4ca73e;
  border: none;
  cursor: pointer;
  transition: .2s linear;
}
.busca-container .search:hover {
  background-color: #61c950;
}
#mapa {
  height: 300px;
  width: 84%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
}
.about {
  width: 95%;
  margin: 10% auto;
  padding: 20px;
  background-color: #20443c;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.about p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  line-height: 1.6;
}
.descricao {
  width: 95%;
  margin: 5% auto;
  padding: 20px;
  background-color: #20443c;
  color: #ffffff;
  border-radius: 8px;
  text-align: justify;
}
.descricao p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
.destaque {
  font-weight: bold;
  color: #61c950;
}
footer {
  width: 100%;
  height: 3rem;
  font-size: clamp(0.8rem, 4vw, 2rem);
  font-family: "Roboto", sans-serif;
  background-color: #20443c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}