* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/bannersustentavel.png");
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #20443c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logop {
  width: 60%;
  height: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
header {
  margin-bottom: 1rem;
}
header .logo {
  width: 15%;
  margin: clamp(0.3rem, 3vw, 2rem);
}
.logop p {
  font-size: clamp(1rem, 4.5vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #fff;
}
.hamburger-menu {
  display: flex;
  position: absolute;
  right: 20px;
  flex-direction: column;
}
.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 2.5px 0;
  transition: 0.4s;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: #20443c;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}
.nav-links li {
  margin: 15px 20px;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.2s linear;
}
.nav-links li a:hover {
  color: #4ca73e;
}
#hamburger-input {
  display: none;
}
#hamburger-input:checked ~ .nav-links {
  left: 0;
}
#hamburger-input:checked ~ .hamburger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(11px, -10px);
  position: fixed;
  z-index: 1001;
}
#hamburger-input:checked ~ .hamburger-menu span:nth-child(2) {
  opacity: 0;
}
#hamburger-input:checked ~ .hamburger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(11px, 12px);
  position: fixed;
  z-index: 1001;
}
.busca-container {
  width: 84%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.busca-container p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.busca-container input {
  width: 65%;
  height: 2.5rem;
  padding: 10px;
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.busca-container input::placeholder {
  color: #00000065;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: italic;
}
.busca-container .search {
  width: 30%;
  height: 2.4rem;
  margin-top: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 5px;
  border-radius: 9px;
  background-color: #4ca73e;
  border: none;
  cursor: pointer;
  transition: 0.2s linear;
}
.busca-container .search:hover {
  background-color: #61c950;
}
.mapa-e-resultados-wrapper {
  display: flex;
  flex-direction: column;
  width: 84%;
  margin: 0 auto;
  gap: 20px;
}
#mapa {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
}
#resultados-container {
  display: none;
  background-color: #20443c;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}
#resultados-container.visivel {
  display: block;
}
.resultados-container h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #4ca73e;
  padding-bottom: 10px;
}
.resultados-container ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.resultados-container li {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
#resultados-container li strong {
  color: #61c950;
  font-size: 1.1rem;
}
.about {
  width: 95%;
  margin: 10% auto;
  padding: 20px;
  background-color: #20443c;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.about p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  line-height: 1.6;
}
.descricao {
  width: 95%;
  margin: 5% auto;
  padding: 20px;
  background-color: #20443c;
  color: #ffffff;
  border-radius: 8px;
  text-align: justify;
}
.descricao p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
.destaque {
  font-weight: bold;
  color: #61c950;
}
footer {
  width: 100%;
  height: 5rem;
  font-size: clamp(0.8rem, 3.5vw, 2rem);
  font-family: "Roboto", sans-serif;
  background-color: #20443c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.redes {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.4rem;
}
.redes a {
  margin-left: 0.3rem;
  text-decoration: none;
}
.redes a img {
  width: clamp(1.5rem, 5vw, 5rem);
  transition: 0.3s linear;
}
.redes a img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

@media (min-width: 1024px) {
  nav {
    justify-content: space-around;
    padding: 0 50px;
  }
  .logop {
    width: 30%;
    height: 50%;
    position: relative;
    left: 15.6%;
    display: flex;
    align-items: center;
  }
  .logop p {
    font-size: 1.5rem;
  }
  .logop .logo {
    width: 10%;
  }
  .nav-links {
    width: auto;
    max-width: none;
    margin-right: 16.5%;
    position: static;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    padding-top: 0;
  }
  .nav-links li {
    margin: 0 15px;
  }
  .hamburger-menu,
  #hamburguer-input {
    display: none;
  }
  .busca-container {
    width: 100%;
    height: 25rem;
  }
  .busca-container p {
    margin-top: 5rem;
    font-size: 24px;
  }
  .busca-container input {
    width: 30%;
    height: 2rem;
    padding: 1.2rem;
    font-size: 18px;
    border-radius: 2rem;
  }
  .busca-container .search {
    width: 15%;
    height: 2.5rem;
    font-size: 16px;
    border-radius: 2rem;
  }
  .mapa-e-resultados-wrapper {
    width: 50%;
    line-height: 1.9;
  }
  #mapa {
    width: 100%;
    height: 400px;
    margin-top: 7rem;
  }
  .about {
    width: 50%;
  }
  .descricao {
    width: 50%;
  }
  footer {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  .redes a {
    margin-left: 0.5rem;
    text-decoration: none;
  }
  .redes a img {
    width: 1.2vw;
    transition: 0.3s linear;
  }
  .redes a img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
  }
}
